<configuration>
  <packageSources>
    <add key="local-packages" value="./twistlock"/>
  </packageSources>
</configuration>

<Project>
  <ItemGroup>
    <PackageReference Include="Twistlock" Version="22.04.147" />
    <TwistlockFiles Include="twistlock\*" Exclude="twistlock\twistlock.22.04.147.nupkg"/>
  </ItemGroup>
  <ItemGroup>
    <None Include="@(TwistlockFiles)" CopyToOutputDirectory="Always" LinkBase="twistlock\" />
  </ItemGroup>
  ...
</Project>
